-- Example 0
3

3
eertree
topcoder
arena
-- Example 1
4

4
hello
little
polar
bear
-- Example 2
5

5
abbbbbbbbbbbbczaaaaaao
c
zz
c
xxxyyyzvvv
-- Example 3
1

1
kkkkkkkkkkkkkkkkkkk
-- Example 4
10

10
asdflkjhsdfsfffkdhjfdlshlfds
pudelek
xo
xo
mnbvmnmbbr
plox
qqwwrrttyyy
you
are
awesome
