-- Example 0
snuke
2

Certain
-- Example 1
aba
1

Certain
-- Example 2
aba
2

Uncertain
-- Example 3
abcdabcd
3

Certain
-- Example 4
koukyoukoukokukikou
2

Uncertain
-- Example 5
wolfsothe
8

Uncertain
-- Example 6
aa
2

Certain
