-- Example 0
(())

2
-- Example 1
((())())(()()())

11
-- Example 2
())(()

-1
-- Example 3
(((((((((())))))))))

110
-- Example 4
()

1
-- Example 5
(((())()()()((((()))))(((())))()()()))(()(()))

69
