-- Example 0
4
FOO
BAR
BAZ
TOPCODER

5
-- Example 1
1
X

0
-- Example 2
8
GIVING
CANDY
TO
CHILDREN
CANNOT
BE
CHALLENGING
RIGHT

17
-- Example 3
5
WITHOUT
IT
IM
JUST
ESPR

5
-- Example 4
9
PHQGHUMEAYLNLFDXFIRCVSCXGGBWKFNQDUXWFNFOZVSRTKJPRE
PGGXRPNRVYSTMWCYSYYCQPEVIKEFFMZNIMKKASVWSRENZKYCXF
XTLSGYPSFADPOOEFXZBCOEJUVPVABOYGPOEYLFPBNPLJVRVIPY
AMYEHWQNQRQPMXUJJLOOVAOWUXWHMSNCBXCOKSFZKVATXDKNLY
JYHFIXJSWNKKUFNUXXZRZBMNMGQOOKETLYHNKOAUGZQRCDDIUT
EIOJWAYYZPVSCMPSAJLFVGUBFAAOVLZYLNTRKDCPWSRTESJWHD
IZCOBZCNFWLQIJTVDWVXHRCBLDVGYLWGBUSBMBORXTLHCSMPXO
HGMGNKEUFDXOTOGBGXPEYANFETCUKEPZSHKLJUGGGEKJDQZJEN
PEVQGXIEPJSRDZJAZUJL

203
